/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  -webkit-text-decoration: #99E5A5 underline 0.5em;
          text-decoration: #99E5A5 underline 0.5em;
  text-underline-offset: -0.2em;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

p {
  color: #444444;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 5%;
}

.call {
  display: flex;
}
.call img {
  height: 24px;
  width: 24px;
  margin-right: 4.78px;
}
@media screen and (max-width: 760px) {
  .call img {
    height: 20px;
    width: 20px;
  }
}
.call a {
  color: #21A937;
  font-size: 24px;
  font-weight: bold;
  height: 35px;
  line-height: 20px;
  text-decoration: none;
}
@media screen and (max-width: 760px) {
  .call a {
    line-height: 13px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 28px;
}
@media screen and (max-width: 760px) {
  .header .container {
    display: block;
    text-align: center;
  }
}
.header_log {
  width: 263px;
  height: 73px;
}
@media screen and (max-width: 760px) {
  .header_log {
    width: 170px;
    height: auto;
    margin-bottom: 20px;
  }
}
.header_info p {
  font-size: 14px;
  line-height: 20px;
  height: 35px;
  margin-bottom: 7px;
}
@media screen and (max-width: 760px) {
  .header_info p {
    margin-bottom: 4px;
  }
}
.header_info .call {
  justify-content: flex-end;
}
@media screen and (max-width: 760px) {
  .header_info .call {
    justify-content: center;
  }
}
.header_info .call p {
  font-size: 24px;
}
@media screen and (max-width: 760px) {
  .header_info .call p {
    font-size: 20px;
    line-height: 13px;
  }
}

.main_mainvisual {
  background-image: url(../img/fv-min.png);
  height: 947px;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 1300px) {
  .main_mainvisual {
    background-size: cover;
    background-position: center center;
    height: 600px;
  }
}
@media screen and (max-width: 760px) {
  .main_mainvisual {
    background-position: bottom 45% right 25%;
  }
}
.main_copy {
  color: #444444;
  font-weight: bold;
  position: absolute;
  top: 133px;
  left: 211px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 760px) {
  .main_copy {
    position: absolute;
    top: 250px;
    left: 20px;
  }
}
.main_copy h1 {
  background-color: #FFFFFF;
  width: 102px;
  height: 565px;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: 8.5px;
  padding-top: 18px;
  line-height: 102px;
  margin-left: 40px;
  margin-top: 133px;
}
@media screen and (max-width: 1300px) {
  .main_copy h1 {
    width: 80px;
    height: 470px;
    font-size: 24px;
    margin: 70px 0 0 30px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1300px) and (max-width: 760px) {
  .main_copy h1 {
    width: 60px;
    height: 420px;
    line-height: 60px;
    font-size: 20px;
    margin-left: 10px;
  }
}
.main_copy span {
  color: #21A937;
}
.main_concept .container {
  display: flex;
  margin-top: 162px;
  margin-bottom: 82px;
  gap: 44px;
}
@media screen and (max-width: 1300px) {
  .main_concept .container {
    max-width: 950px;
    margin-top: 0;
    gap: 0;
  }
}
@media screen and (max-width: 1300px) and (max-width: 760px) {
  .main_concept .container {
    display: inline;
    text-align: center;
    gap: 0;
  }
}
.main_concept_text {
  width: 50%;
  padding-top: 30px;
  width: 415px;
}
@media screen and (max-width: 1300px) {
  .main_concept_text br {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .main_concept_text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .main_concept_text br {
    display: none;
  }
}
.main_concept_text h2 {
  padding-top: 32px;
  margin-right: 191px;
  white-space: nowrap;
}
@media screen and (max-width: 1300px) {
  .main_concept_text h2 {
    font-size: 20px;
    margin-right: 135px;
  }
}
@media screen and (max-width: 760px) {
  .main_concept_text h2 {
    display: block;
    margin-right: 0;
  }
}
.main_concept_text .lead {
  font-size: 16px;
  line-height: 38px;
  margin-top: 37px;
}
@media screen and (max-width: 1300px) {
  .main_concept_text .lead {
    line-height: 30px;
    width: 95%;
  }
}
.main_concept_img {
  width: 50%;
  padding-right: 5%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .main_concept_img {
    width: 90%;
    padding-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1300px) {
  .main_concept_img img {
    width: 100%;
    margin-top: 85px;
  }
}
@media screen and (max-width: 760px) {
  .main_concept_img img {
    margin-top: 60px;
  }
}
.main_nav {
  text-align: center;
  background-color: #F5FCF8;
}
.main_nav h2 {
  margin: 78px 0 70px 0;
}
.main_nav p {
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 34px;
}
.main_nav ol {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .main_nav ol {
    flex-flow: column;
    margin: 0 auto;
    row-gap: 10px;
  }
}
.main_nav li {
  font-weight: bold;
  line-height: 38px;
  width: 380px;
  height: 591px;
  border: solid 2px #C9C9C9;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 40px;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .main_nav li {
    width: 32%;
    height: 700px;
  }
}
@media screen and (max-width: 1300px) and (max-width: 760px) {
  .main_nav li {
    width: 100%;
    height: auto;
  }
}
.main_nav li h3 {
  font-size: 24px;
  margin-bottom: 45px;
  color: #444444;
}
.main_nav li p {
  font-size: 16px;
  text-align: left;
  padding: 0 30px;
}
@media screen and (max-width: 760px) {
  .main_nav li p {
    padding-bottom: 200px;
  }
}
.main_nav li img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}
.main_news {
  background-color: #F5FCF8;
  text-align: center;
  padding-bottom: 112px;
}
.main_news h2 {
  margin: 82px 0 70px 0;
  text-align: center;
}
.main_news dl {
  height: auto;
  line-height: 38px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  padding: 30.5px 66px 0 66px;
  width: auto;
}
@media screen and (max-width: 760px) {
  .main_news dl {
    padding: 20px;
  }
}
.main_news_all {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  text-align: right;
  padding: 39.5px 0 46px;
}
@media screen and (max-width: 760px) {
  .main_news_all {
    padding: 0 0 9px 0;
  }
}
.main_news_all a {
  display: block;
  margin-top: 0px;
  position: relative;
}
@media screen and (max-width: 760px) {
  .main_news_all a {
    margin-right: 10%;
  }
}
.main_news_all a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-left: 10px solid #444444;
}
.main_news_summary {
  display: flex;
  border-bottom: 2px solid #E7E7E7;
  padding: 19.5px;
}
@media screen and (max-width: 760px) {
  .main_news_summary {
    flex-flow: column;
  }
}
.main_news_summary dt {
  color: #21A937;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  white-space: nowrap;
}
@media screen and (max-width: 760px) {
  .main_news_summary dt {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
    text-align: left;
  }
}
.main_news_summary dt span {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 25px;
  color: #FFFFFF;
  width: 80px;
  height: 25px;
  background-color: #444444;
  margin-left: 30px;
}
@media screen and (max-width: 760px) {
  .main_news_summary dt span {
    font-size: 10px;
    margin-left: 8px;
    line-height: 25px;
    width: 60px;
    text-align: center;
  }
}
.main_news_summary dd {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  text-align: left;
  line-height: 38px;
  color: #444;
}
@media screen and (max-width: 760px) {
  .main_news_summary dd {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    margin-left: 0;
  }
}

.footer {
  margin: 0 auto;
}
.footer .container {
  display: flex;
  padding-top: 196px;
  padding-bottom: 163px;
}
@media screen and (max-width: 1300px) {
  .footer .container {
    height: auto;
    width: auto;
  }
}
@media screen and (max-width: 1300px) and (max-width: 760px) {
  .footer .container {
    flex-flow: column;
    align-items: center;
    padding: 112px 0;
    gap: 30px;
  }
}
.footer_map {
  width: 50%;
}
@media screen and (max-width: 760px) {
  .footer_map {
    width: 100%;
    margin: 0 auto;
  }
}
.footer_map_nomal {
  margin-right: 34px;
}
@media screen and (max-width: 1300px) {
  .footer_map_nomal {
    display: none;
  }
}
.footer_map_lg {
  display: none;
}
@media screen and (max-width: 1300px) {
  .footer_map_lg {
    margin-right: 34px;
    display: block;
    width: 50%;
    text-align: right;
  }
}
@media screen and (max-width: 1300px) and (max-width: 760px) {
  .footer_map_lg {
    display: none;
  }
}
.footer_map_sm {
  display: none;
}
@media screen and (max-width: 760px) {
  .footer_map_sm {
    display: block;
  }
}
.footer_address {
  font-size: 16px;
  color: #444444;
  margin: 25px 0;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 760px) {
  .footer_address {
    display: block;
    text-align: center;
    line-height: 16px;
  }
}
@media screen and (max-width: 760px) {
  .footer .call {
    padding-bottom: 20px;
    justify-content: center;
  }
}
.footer_table {
  color: #444444;
  font-size: 14px;
  width: 533px;
  line-height: 38px;
}
@media screen and (max-width: 1300px) {
  .footer_table {
    width: 100%;
  }
}
.footer_table_contents {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 19px;
}
@media screen and (max-width: 760px) {
  .footer_table_contents {
    padding-bottom: 0;
  }
}
.footer_table_contents, .footer_table_contents_time {
  display: flex;
}
@media screen and (max-width: 1300px) {
  .footer_table_contents, .footer_table_contents_time {
    display: block;
  }
}
.footer_table_contents_time, .footer_table_contents_time_time {
  margin-bottom: 20px;
  padding-top: 19px;
  border-top: 2px solid #e7e7e7;
}
@media screen and (max-width: 760px) {
  .footer_table_contents_time, .footer_table_contents_time_time {
    padding-top: 0;
  }
}
.footer_table_title {
  width: 84.5px;
  border-right: 2px solid #e7e7e7;
}
@media screen and (max-width: 1300px) {
  .footer_table_title {
    border-right: none;
    border-bottom: 2px solid #e7e7e7;
    text-align: center;
    margin: 0 auto;
  }
}
.footer_table_items_item {
  display: flex;
}
.footer_table_items_item_day, .footer_table_items_item_day_line {
  margin: 0 23px 0 28.5px;
}
.footer_table_items_item_day_line, .footer_table_items_item_day_line_line {
  -webkit-text-decoration: #99E5A5 underline 0.5em;
          text-decoration: #99E5A5 underline 0.5em;
  text-underline-offset: -0.2em;
}
@media screen and (max-width: 1300px) {
  .footer_table_items_item_day_line, .footer_table_items_item_day_line_line {
    margin-left: 0;
  }
}
@media screen and (max-width: 1300px) {
  .footer_table_items_item_day {
    margin: 0 auto;
  }
}
.footer_table_items_item_am {
  margin-right: 17px;
}
.footer .copyright {
  text-decoration: none;
  font-size: 11px;
  color: #444444;
  text-align: right;
}
@media screen and (max-width: 760px) {
  .footer .copyright {
    text-align: center;
  }
}
.footer span {
  display: block;
  margin-top: 21.5px;
}/*# sourceMappingURL=style.css.map */